<div class="matings_show">
  <div class="sire">
    <%= render partial: 'sire', locals: {sire: @sire} %>
  </div>

  <%= render partial: 'mare', locals: {mare: @mare} %>

  <%= link_to 'Back', matings_path(mare_id: @mare, ranch_id: @ranch&.id) %>
</div>
