<table class="table_base">
  <caption><%= course %></caption>
  <%
      races_by = races.group_by { |race|
        grade = race.grade
        grade = Grade.open if grade.high_stake?
        [race.age, grade]
      }.map { |age_grade, races|
        [age_grade, races.group_by(&:week)]
      }.to_h
      age_grades = races_by.keys.sort_by { |age, grade|
        [{'3' => 1, '4' => 2, '5U' => 3, '4U' => 4}[age], grade.ordering]
      }
  -%>
  <% age_grades.each do |age_grade| -%>
    <% races_by_week = races_by[age_grade] -%>
    <tr>
      <td><%= age_grade.join(' ') %></td>
      <% (1 .. 4).each do |week| -%>
        <td>
          <% races = races_by_week[week]&.map { |race|
               content_tag :span, race.to_s,
                 class: [race.limitation, race.surface, race.grade.high_stake? ? 'high_stake' : ''].join(' ')
             } -%>
          <%= safe_join(races, '<br>'.html_safe) if races %>
        </td>
      <% end -%>
    </tr>
  <% end -%>
</table>
