<div class="results_index">
  <% %w[Ⅰ Ⅱ Ⅲ].each do |grade_abbr| -%>
    <% grade = Grade.find_by(abbr: grade_abbr) -%>
    <%= render partial: 'results_by_race', locals: {races: @races_by_grade[grade]} %>
  <% end -%>
</div>
