<div class="results_multiple_entries">
  <table>
    <% @array_of_results.each do |results| -%>
      <% result = results.first
         race = result.race -%>
      <tr>
        <td><%= "#{result.year}年" %></td>
        <td><%= race.name %></td>
        <% results.each do |result| -%>
          <td class="numeric"><%= "#{result.place}着" %></td>
          <td><%= result.racer %></td>
        <% end -%>
    <% end -%>
  </table>
</div>
