<div class="all_racers">
  <% racers = Racer.retired.order(:year_birth) \
            + [nil] \
            + Racer.active .order(:year_birth) -%>
  <%= render partial: 'racers/blood_and_result_list', locals: {racers: racers} %>
</div>
