<div class="racers_racers">
  <table class="table_base">
    <thead>
      <tr>
        <th>
        <th>
        <th>
        <th>2歳時</th>
        <th>3歳時</th>
        <th>厩舎</th>
        <th>太残</th>
        <th>ベスト</th>
        <th>痩せ</th>
        <th>特記事項</th>
      </tr>
    </thead>
    <tbody>
      <% @racers.each do |racer| -%>
        <% if racer.id == @racer_id_to_edit -%>
          <%= form_with model: racer, local: true do |f| %>
            <%= racer.errors.messages unless racer.errors.empty? %>
            <%= render partial: 'racers/racer', locals: {racer: racer, f: f} %>
          <% end -%>
        <% else -%>
          <%= render partial: 'racers/racer', locals: {racer: racer, f: nil} %>
        <% end -%>
      <% end -%>
    </tbody>
  </table>
</div>
