<div class="racers_racers">
  <table class="table_base">
    <thead>
    </thead>
    <tbody>
      <% @racers.each do |racer| -%>
        <% if racer == @racer_to_edit -%>
          <%= form_with model: racer, local: true do |f| %>
            <%= render partial: 'racers/racer', locals: {racer: racer, f: f} %>
          <% end -%>
        <% else -%>
          <%= render partial: 'racers/racer', locals: {racer: racer, f: nil} %>
        <% end -%>
      <% end -%>
    </tbody>
  </table>
</div>
