<div class="racers_new">
  <div class="form">
    <%= render 'form' %>

    <div class="racers">
      <%= render partial: 'birth_pieces', locals: {mare: @racer.mother} %>
    </div>
  </div>

  <div class="mating">
    <%= render partial: 'mating', locals: {mare: @racer.mother, sire: @racer.father} %>
  </div>
</div>
