<div class="racers_new">
  <div class="form">
    <%= render 'form' %>

    <div class="racers">
      <%= render partial: 'birth_pieces', locals: {mare: @racer.mother} %>
    </div>
  </div>

  <div class="mating">
    <% names_for_candidates = StringUtil.extract_horse_names(@remark) -%>
    <%= render partial: 'mating', locals: {mare: @racer.mother, sire: @racer.father,
                                           names_for_candidates: names_for_candidates} %>
  </div>
</div>
