<div class="racers_show">
  <div>
    <%= @racer.name %>
  </div>
  <div>
    <table class="table_base">
      <tr>
        <th>父</th>
        <% father = @racer.father -%>
        <td><%= safe_join([father.name, sire_trait_display(father)], '<br>'.html_safe) %></td>
      </tr>
      <tr>
        <th>母</th>
        <% mother = @racer.mother -%>
        <td><%= safe_join([mother.name, mare_trait_display(mother)], '<br>'.html_safe) %></td>
      </tr>
      <tr>
        <th>母父</th>
        <% father = @racer.mother.father -%>
        <td><%= safe_join([father.name, sire_trait_display(father)], '<br>'.html_safe) %></td>
      </tr>
    </table>
  </div>
</div>
