<div class="ranches_show">
  <div class="mares">
    <%= render 'mares' %>
  </div>

  <div class="racers">
    <%= render 'racers/racers' %>

    <% if @racer_id_to_edit.zero? -%>
      <div class="links">
        <%= link_to '新規競走馬', new_racer_path(ranch_id: @ranch.id) %>
      </div>
    <% end -%>
  </div>
</div>
