<div class="sires_show">
  <div class="name">
    <%= @sire.name %>
  </div>

  <%= render partial: 'bloodline', locals: {horse: @sire} %>

  <div class="root_lineages">
    <table class="table_base">
      <tr>
        <% (1 .. 4).to_a.each do |number| -%>
          <td class="centered">
            <%= @sire.bloodline_father(3, number)&.root_lineage_number %>
          </td>
        <% end -%>
      </tr>
    </table>
</div>
