.results_g1_by_years_show {

  tbody tr:hover {
    cursor: pointer;
    background-color: white;
  }

  td {
    width: 6.0rem;
  }

  td.win {
    background-color: pink;

    &.runner_up {
      background-color: plum;
    }
  }

  td.runner_up {
    background-color: powderblue;
  }
}
