.results_g1_series_show {

  table {
    border-collapse: collapse;
    margin-bottom: 10px;

    caption {
      text-align: left;
    }

    td {
      white-space: nowrap;
    }

    td.racer_name {
      padding-left: 10px;
    }

    td.year {
      padding-left: 5px;
    }

    td.race_name {
      padding-left: 10px;
    }

    td.place.runner_up {
      font-weight: bold;
    }

    td.achieved {
      font-weight: bold;
    }

    td.win {
      font-weight: bold;
    }

    .border_bottom {
      border-bottom: solid 1px black;
    }
  }
}
