.results_g1_series_show {

  table {
    margin-bottom: 10px;

    caption {
      text-align: left;
    }

    td.racer_name {
      padding-left: 10px;
    }

    td.year {
      text-align: right;
      padding-left: 5px;

      &:after {
        content: '年';
      }
    }

    td.race_name {
      padding-left: 10px;
    }

    td.place {
      text-align: right;

      &:after {
        content: '着';
      }

      &.runner_up {
        font-weight: bold;
      }
    }

    td.odds {
      text-align: right;
      padding-right: 0;

      &:before {
        content: '(';
      }

      &:after {
        content: '/';
      }
    }

    td.rank_odds {
      text-align: right;
      padding-left: 0;

      &:after {
        content: '人気)';
      }
    }

    td.achieved {
      font-weight: bold;
    }

    td.win {
      font-weight: bold;
    }
  }
}
