html, input, select {
  font-family: "メイリオ", sans-serif;
  font-size: 8px;
}

.critical {
  color: yellow;
  background-color: red;
  font-weight: bold;
}

span.button {
  cursor: pointer;
}

form .submit {
  margin-top: 10px;

  a {
    margin-left: 10px;
  }
}

td a {
  display: block;
}

tbody tr:hover {
  background-color: #CCFFFF; // cyan;
}

#top_bar {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  padding-bottom: 4px;
  background-color: #DFDFDF;
  display: flex;

  &.all_training_done {
    background-color: lightpink;

    &.expecting_race {
      color: white;
      background-color: magenta;
    }
  }

  &.ready_for_next_week {
    color: white;
    background-color: red;

    &.month_changing {
      background-color: firebrick;
    }
  }

  #button_to_next_week:focus {
    color: red;
    background-color: yellow;
    font-weight: bold;
  }

  .date {
    display: flex;

    span#date {
      font-size: 1.6rem;
    }

    form {
      margin-left: 15px;
    }

    .vacancy_in_ranch {
      margin-left: 20px;

      &.none {
        color: red;
        background-color: yellow;
        font-weight: bold;
      }

      &.few {
        color: red;
        background-color: yellow;
      }
    }
  }

  .links {
    margin-left: 20px;

    a {
      margin-right: 20px;
    }
  }
}

.race_name {

  .female_only {
    color: red;
  }

  .domestic_only {
    color: green;
  }

  .handicap {
    color: blue;
    font-weight: bold;
    background: white;
  }
}

.no_condition {
  background-color: pink;
}

span.all_trained {
  color: white;
  background-color: blue;
  padding: 4px;
}

span.not_all_trained {
  color: red;
  background-color: yellow;
  font-weight: bold;
  padding: 4px;
}

span.all_races_done {
  color: magenta;
  background-color: blue;
  font-weight: bold;
  padding: 4px;
}

span.not_all_races_done {
  color: white;
  background-color: red;
  font-weight: bold;
  padding: 4px;
}

.notice {
  color: yellow;
  background-color: red;
  font-size: 2.0rem;
  margin-top: 10px;
}
