html, input, select {
  font-family: "メイリオ", sans-serif;
  font-size: 8px;
}

span.button {
  cursor: pointer;
}

form .submit {
  margin-top: 10px;

  a {
    margin-left: 10px;
  }
}

#top_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: white;
  display: flex;

  .date {
    display: flex;

    form {
      margin-left: 10px;
    }

    #vacancy_in_ranch {
      margin-left: 20px;

      &.none {
        color: red;
        background-color: yellow;
        font-weight: bold;
      }

      &.one {
        color: red;
        background-color: yellow;
      }
    }
  }

  .notice {
    color: yellow;
    background-color: red;
    font-size: 1.2rem;
    margin-left: 20px;
  }
}
