table.mares {

  td a {
    display: inline-block;
  }

  td.female {
    color: red;
  }
}

.mares_potentials {

  td.age {
    text-align: right;

    &:after {
      content: "歳";
    }
  }

  td.g1_wins {
    text-align: right;
    padding-right: 5px;
  }

  td.count {
    text-align: right;
    width: 4.0rem;
    padding-right: 5px;
  }
}
