.mating_lists_show {

  td:not(.allows_wrap) {
    white-space: nowrap;
  }

  .actions {
    margin-top: 20px;
  }

  form.button_to {
    margin-top: 20px;

    input[type="submit"] {
      color: red;
    }
  }
}
