.matings_index {

  .top {
    display: flex;

    .count {
      margin-left: 20px;
    }
  }

  #sire_filter {
    margin-left: 20px;
  }

  #head_interesting {
    cursor: pointer;
  }

  td:not(.allows_wrap) {
    white-space: nowrap;
  }

  tbody tr:hover {
    background-color: cyan;
  }

  td.negative_score {
    color: red;
    font-weight: bold;
  }

  td.excellent_score {
    font-weight: bold;
  }

  .links {
    margin-top: 10px;
  }
}

.matings_show {

  .inbreed {
    color: red;
  }

  .mare {
    margin-left: 20px;
  }

  .mating {
    margin-top: 70px;
    margin-left: 20px;

    th {
      width: 50px;
    }

    td.value {
      width: 20px;
      text-align: center;
    }

    td.inbreed {
      width: 140px;
    }
  }

  .in_list {
    margin-top: 10px;

    a {
      margin-right: 20px;
    }
  }
}
