.matings {
  display: flex;

  .mare {
    margin-left: 20px;
  }

  .inbreed {
    color: red;
  }

  .traits {
    margin-top: 25px;
    margin-left: 20px;

    th {
      width: 50px;
    }

    td.value {
      width: 20px;
      text-align: center;
    }

    td.inbreed {
      width: 140px;
    }

    table.racer_name_candidates {
      border-spacing: 0;
      margin-top: 30px;
      margin-left: 10px;

      td {
        padding: 0 2px;
      }

      td:first-child, td.link {
        padding-right: 10px;
      }
    }
  }
}

#sire_filter_fee {
  width: 5.0rem;
  text-align: right;
}

#sire_filter_score {
  width: 35px;
  text-align: right;
}

.matings_index {

  .top {
    display: flex;

    .mare_name_and_traits {
      margin-bottom: 5px;
    }

    .count {
      margin-left: 20px;
    }

    .links {
      margin-left: 100px;
    }
  }

  #sire_filter {
    margin-left: 20px;
  }

  #header_score, #header_nicks, #header_interesting {
    cursor: pointer;

    &.excellent_score_only, &.nicks_only, &.interesting_only {
      background-color: cyan;
    }
  }

  td:not(.allows_wrap) {
    white-space: nowrap;
  }

  tbody tr:hover {
    background-color: cyan;
  }

  td.negative_score {
    color: red;
    font-weight: bold;
  }

  td.excellent_score {
    font-weight: bold;
  }

  td.root_lineage_number {
    width: 14px;
    text-align: center;
    border-left-style: none;
    border-right-style: none;
  }

  .links {
    margin-top: 10px;
  }
}

.matings_show {

  .links {
    display: flex;
    margin-top: 20px;

    * {
      margin-right: 20px;
    }
  }

  .in_list {
    margin-top: 10px;

    a {
      margin-right: 20px;
    }
  }
}
