.matings_index {

  .top {
    display: flex;
  }

  #sire_filter {
    margin-left: 20px;
  }

  #head_interesting {
    cursor: pointer;
  }

  td:not(.allows_wrap) {
    white-space: nowrap;
  }

  tbody tr:hover {
    background-color: cyan;
  }

  .links {
    margin-top: 10px;
  }
}

.matings_show {

  .inbreed {
    color: red;
  }

  .mare {
    margin-left: 20px;
  }
}
