.mating_lists_show {

  tr.female {
    background-color: #FFDFDF;

    td.sex {
      color: red;
    }
  }

  td:not(.allows_wrap) {
    white-space: nowrap;
  }

  .actions {
    margin-top: 20px;
  }

  form.button_to {
    margin-top: 20px;

    input[type="submit"] {
      color: red;
    }
  }

  table.all_racers {
    margin-top: 30px;
  }
}
