#progress_dialog {
  position: fixed;
  width: 240px;
  height: 40px;
  left: 50%;
  top:  40%;
  margin-left: -120px;
  margin-top:   -20px;
  border: 2px solid red;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  background-color: lightgray;
}
