.load_too_heavy {
  color: red;
  background-color: yellow;
  padding: 1px;
}

.races_index {

  .races_by_course {
    margin-top: 10px;
  }

  td {
    vertical-align: top;
  }

  span.dirt {
    color: brown;
  }

  span.female_only {
    color: red;
  }

  span.high_stake {
    background-color: palegreen;
  }

  .links {
    margin-top: 10px;

    a {
      margin-left: 20px;
    }
  }

  [aria-label]:after {
    top: 150%;
  }
}
