.racers_racers {

  td.emphasized {
    font-weight: bold;
  }

  input[type="number"] {
    width: 50px;
    text-align: right;
  }
}

.racers_show {

  #race_candidates {
    margin-left: 20px;
  }
}
