td.female {
  color: red;
}

input.in_ranch {
  color: green;
}

.expecting_race {
  color: white;
  background-color: red;
}

td.not_stabled {
  background-color: forestgreen;

  a {
    color: white;
  }
}

.racers_racers {

  td a {
    text-decoration: none;
  }

  td.expecting_race {
    background-color: red;

    a {
    color: white;
    }
  }

  td.in_ranch {
    background-color: palegreen;
  }

  td.current_racer {
    font-weight: bold;
    background-color: lightgray;
  }

  td.emphasized {
    font-weight: bold;
  }

  td.grade_given {
    background-color: lightgray;
  }

  input[type="number"] {
    width: 50px;
    text-align: right;
  }
}

.racers_new {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .form {
    display: flex;

    table.racers {
      margin-left: 40px;
    }
  }

  .mating {
    margin-top: 20px;
  }
}

.racers_show {
  margin-top: 60px;

  #name_and_traits {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    padding: 4px 8px;
    background-color: white;
    display: flex;

    table {
      margin-left: 20px;

      th {
        border-left: solid 2px black;
      }
    }
  }

  #results_and_conditions {
    margin-top: 180px;

    .links {
      display: flex;

      span.weight_best {
        margin-left: 10px;
        margin-right: 30px;
      }
    }
  }

  #racers_traits {
    display: flex;

    table {
      margin-right: 10px;
    }

    .links {
      display: flex;
      margin-top: 5px;
      margin-left: 20px;

      input[type="submit"] {
        margin-right: 20px;
      }
    }
  }

  #results {
    margin-top: 10px;

    th {
      background-color: lightgray;
    }

    td.num_racers, td.num_frame, td.rank_odds, td.odds, td.weight {
      text-align: right;
    }

    td.place {
      font-weight: bold;
    }

    td.comment_paddock, td.comment_race {
      text-align: left;
    }

    input[type="text"] {
      text-align: right;
    }

    input[type="number"] {
      width: 34px;
    }

    #result_comment_paddock, #result_comment_race {
      text-align: left;
    }

    #post_race_comment {
      text-align: left;
    }

    #result_load.uncertain {
      background-color: lightpink;
    }
  }

  #racer_menu {
    position: relative;
    font-size: 1.4rem;

    td.no_condition {
      background-color: pink;
    }

    a {
      margin: 0;
    }
  }

  #race_candidates {
    position: fixed;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    width: 320px;

    .links {
      margin-bottom: 5px;
    }

    td {
      white-space: nowrap;
    }

    td.same_area {
      font-weight: bold;
      background-color: cyan;
    }

    td.remote {
      color: red;
    }

    td.high_stake {
      background-color: palegreen;
    }

    td.overgrade {
      background-color: lightgray;
    }

    input[type="submit"] {
      height: 16px;
      font-weight: bold;
    }

    input.target {
      color: white;
      background-color: red;
    }
  }

  .links {
    margin-top: 10px;

    a {
      margin-right: 20px;
    }
  }
}

#conditions {
  margin-top: 10px;

  td.condition {
    width: 12px;
    text-align: center;
    padding: 0 2px;
  }

  th.current, td.entered {
    color: white;
    background-color: red;
    font-weight: bold;
  }

  td.current {
    border: solid 2px red;
  }

  td.race {
    color: black;
    background-color: cyan;
  }

  td.race_coming {
    background-color: red;
  }

  td.weight_best {
    font-weight: bold;
    text-align: right;
  }
}

.all_racers {

  td:not(.allows_wrap) {
    white-space: nowrap;
  }
}
