.racers_racers {

  td.expecting_race {
    background-color: red;

    a {
    color: white;
    }
  }

  td.emphasized {
    font-weight: bold;
  }

  input[type="number"] {
    width: 50px;
    text-align: right;
  }
}

.racers_show {

  .name {
    margin-top: 10px;
  }

  .tables {
    display: flex;
    margin-top: 10px;
  }

  #traits {
    display: flex;

    table {
      margin-right: 10px;
    }
  }

  #results {
    margin-top: 10px;

    td.num_racers, td.num_frame, td.rank_odds, td.odds, td.weight {
      text-align: right;
    }

    td.place {
      font-weight: bold;
    }

    td.comment_paddock, td.comment_race {
      text-align: left;
    }

    input[type="text"] {
      text-align: right;
    }

    #result_comment_paddock, #result_comment_race {
      text-align: left;
    }

    #post_race_comment {
      text-align: left;
    }
  }

  #race_candidates {
    margin-left: 20px;

    .links {
      margin-bottom: 5px;
    }

    td.same_area {
      font-weight: bold;
      background-color: cyan;
    }

    td.remote {
      color: red;
    }

    td.overgrade {
      background-color: lightgray;
    }

    input[type="submit"] {
      height: 16px;
    }

    input.target {
      background-color: red;
    }
  }

  .links {
    margin-top: 10px;
  }
}
