.ranches_show {
  margin-top: 40px;

  .mares {
    margin-top: 10px;

    input[type="submit"] {
      height: 18px;
    }
  }

  .racers, .all_racers {
    margin-top: 10px;

    input[type="submit"] {
      height: 18px;
    }
  }

  .links {
    margin-top: 10px;
  }

  td.same_area {
    font-weight: bold;
  }

  td.on_day {
    color: red;
  }

  td.remote {
    color: red;
    font-weight: bold;
  }

  .links {
    margin-top: 10px;
  }
}
