td.checking {
  background-color: lightgray;
}

td.expecting {
  color: red;
  font-weight: bold;
}

.ranch_mares_show {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .form {
    display: flex;

    form {
      margin-top: 10px;
    }

    .racers {
      margin-left: 20px;
    }
  }

  .mating {
    margin-top: 30px;
  }

  .links {
    position: absolute;

    > a {
      margin-right: 40px;
    }

    .links_to_mares {
      margin-top: 20px;
    }

    .spacer {
      margin-top: 10px;
    }

    .label {
      margin-right: 20px;
    }
  }
}
