hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

._ranch_sire {

  table {
    margin-bottom: 10px;

    td {
      white-space: nowrap;
    }

    td.age {
      text-align: right;

      &:after {
        content: "歳";
      }
    }

    td.female {
      color: red;
    }

    td.negative_score {
      color: red;
      font-weight: bold;
    }

    td.excellent_score {
      font-weight: bold;
    }

    td.root_lineage_number {
      width: 14px;
      text-align: center;
      border-left-style: none;
      border-right-style: none;
    }
  }

  div.year_left {
    margin-left: 30px;
    margin-top: 10px;

    span.year_left {
      font-size: 1.6rem;

      &:before {
        content: '残り ';
      }

      &:after {
        content: ' 年';
      }
    }
  }

  .sire {
    display: flex;

    .actions {
      margin-left: 30px;
    }
  }
}
