._ranch_sire {

  table {
    margin-bottom: 10px;

    td.female {
      color: red;
    }

    td.negative_score {
      color: red;
      font-weight: bold;
    }

    td.excellent_score {
      font-weight: bold;
    }

    td.root_lineage_number {
      width: 14px;
      text-align: center;
      border-left-style: none;
      border-right-style: none;
    }
  }

  .sire {
    display: flex;

    .actions {
      margin-left: 20px;
    }
  }
}
