span.g1 {
  font-weight: bold;

  &.win {
    background-color: palegreen;
  }
}

.ranches_show {
  margin-top: 40px;

  .mares {
    margin-top: 10px;

    input[type="submit"] {
      height: 16px;
      padding: 0 4px;
    }

    th.sortable {
      cursor: pointer;
    }
  }

  .racers, .all_racers {

    table {
      margin-top: 10px;
    }

    input[type="submit"] {
      height: 16px;
      padding: 0 4px;
    }
  }

  .links {
    margin-top: 10px;
  }

  .links {
    margin-top: 10px;
  }

  tr.hover {
    background-color: #CCFFFF; // cyan;
  }

  span.race_result {
    display: inline-block;
  }
}
