td.checking {
  background-color: lightgray;
}

td.expecting {
  color: red;
  font-weight: bold;
}

.ranch_mares_edit_remark {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .form {
    display: flex;

    form {
      margin-top: 10px;
    }

    .racers {
      margin-left: 20px;
    }
  }

  .mating {
    margin-top: 30px;
  }
}
