#results {

  tr.dirt {
    background-color: cornsilk;
  }

  tr.dimmed {
    background-color: gray;
  }

  span.post_race_comment {
    color: red;
    background-color: yellow;
    padding: 1px 5px;
  }
}
