#results {

  select {
    height: 18px;
  }

  tr.dirt {
    background-color: cornsilk;
  }

  tr.dimmed {
    background-color: gray;
  }

  span.post_race_comment {
    color: red;
    background-color: yellow;
    padding: 1px 5px;
  }

  input#result_num_frame {
    text-align: center;
  }

  input#result_num_racers {
    text-align: right;
    width: 2.0rem;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input#result_odds {
    width: 3.0rem;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.results_results_by_race {

  td.no_win {
    background-color: lightpink;
  }
}

.results_multiple_entries {

  .place_1, .place_2 {
    font-weight: bold;
  }
}

.frame_color1 {
  background-color: white;
}

.frame_color2 {
  background-color: #C0C0B0;
}

.frame_color3 {
  background-color: #FF8080;
}

.frame_color4 {
  background-color: #80B0FF;
}

.frame_color5 {
  background-color: #FFFFA0;
}

.frame_color6 {
  background-color: #A0FFA0;
}

.frame_color7 {
  background-color: #FFC080;
}

.frame_color8 {
  background-color: #FFD0E0;
}
