#results {

  tr.dirt {
    background-color: cornsilk;
  }

  tr.dimmed {
    background-color: gray;
  }

  span.post_race_comment {
    color: red;
    background-color: yellow;
    padding: 1px 5px;
  }
}

.frame_color1 {
  background-color: white;
}

.frame_color2 {
  background-color: #C0C0B0;
}

.frame_color3 {
  background-color: #FF8080;
}

.frame_color4 {
  background-color: #80B0FF;
}

.frame_color5 {
  background-color: #FFFFA0;
}

.frame_color6 {
  background-color: #A0FFA0;
}

.frame_color7 {
  background-color: #FFC080;
}

.frame_color8 {
  background-color: #FFD0E0;
}
