.sires_index {

  #button_to_show_sire_filter {
    float: right;
    margin-right: 200px;
  }
}

.application_sire {

  .name_and_trait {
    display: flex;

    .trait {
      margin-left: 10px;
    }
  }

  .bloodline {
    margin-top: 10px;
  }
}
