.sires_index {

  #button_to_show_sire_filter {
    float: right;
    margin-right: 200px;
  }
}

.sires_show {
  .root_lineages table {
    margin-top: 10px;

    td {
      width: 50px;
    }
  }
}
