div.stats_show {

  div.row {
    display: flex;
    margin-bottom: 10px;
  }

  table {
    margin-right: 10px;

    caption {
      text-align: left;
    }

    td {
      padding: 0;
      padding-right: 10px;
    }
  }

  span.handicap {
    color: black;
    font-weight: normal;
  }
}
