div.stats_show {

  div.tab_navi {
    margin-bottom: 10px;

    span.tab {
      margin-right: 5px;

      span.current {
        font-weight: bold;
      }
    }
  }

  div.row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  table {
    margin-right: 10px;

    caption {
      text-align: left;
    }

    td {
      padding: 0;
      padding-right: 10px;
    }

    td.close_to_right {
      padding-right: 0;
    }

    td:not(.results) {
      white-space: nowrap;
    }
  }

  span.handicap {
    color: black;
    font-weight: normal;
  }
}
