<div class="birth_pieces">
  <table class="racers table_base">
    <tbody>
      <% mare.racers.older_first.each do |racer| -%>
        <tr>
          <td><%= racer_name_display(racer) %></td>
          <td><%= racer_sex_display(racer) %></td>
          <td class="numeric"><%= "#{racer.age}歳" %></td>
          <td><%= "x #{racer.father}" %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
