<% attr_names = result_attr_names
   attr_names.reject! { |name| name.to_s.starts_with?('comment_') } if f -%>

<% attr_names.each do |name| -%>
  <td class="centered <%= name %>">
    <%= result_attr_display(result, name, f) %>
  </td>
<% end -%>

<% if f -%>
  <tr>
    <td colspan="19">
    <td colspan="3">
      <%= result_attr_display(result, :comment_paddock, f) %>
    </td>
    <td colspan="3">
      <%= result_attr_display(result, :comment_race, f) %>
    </td>
  </tr>
<% end -%>
