<div class="root_lineages">
  <table class="table_base">
    <tr>
      <% horse.root_lineage_numbers.each do |number| -%>
        <td class="centered"><%= number %></td>
      <% end -%>
    </tr>
  </table>
</div>
