<% ranch = @ranch || @racer.ranch -%>

<div id="top_bar">
  <div class="date">
    <%= date_display(ranch) %>
    <%= button_to_next_week(@ranch || @racer) %>
  </div>

  <div class="notice">
    <%= notice(ranch) %>
  </div>
</div>
