<div class="stats_win_pcts">
  <% [[false, nil], [true, nil], [true, 1]].each do |high_stakes, n_grade| -%>
    <div class="row">
      <% [1, 2, 3].each do |place| -%>
        <table>
          <caption>
            <%= "#{high_stakes ? (n_grade ? "G1 " : "重賞 ") : ""}#{{1 => "勝率", 2 => "連対率", 3 => "複勝率"}[place]}" %>
          </caption>
          <tbody>
            <% Stats.each_best_pct_of_equal_or_better_places_of(
                  place, high_stakes: high_stakes, n_grade: n_grade) do |racer, num_places, num_races| -%>
              <tr>
                <td><%= racer_as_link(racer) %></td>
                <td class="numeric close_to_right"><%= sprintf("%5.3f", num_places.to_f / num_races) %></td>
                <td class="numeric"><%= sprintf("(%2d/%2d)", num_places, num_races) %></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      <% end -%>
    </div>
  <% end -%>
</div>
